.Home {
  background-color: #FFE4E0;
}

@media (max-width: 400px){
  .Home {
  padding-top: 73px;
  }
}


.row {
  margin-bottom: 10px;
  margin-top: -10px;
}

/* sidebar */

.sidebar{
  z-index: 20;
  align-items: center;
  background-color: lightyellow;
  width: 355px;
  /* height: 90vh; */
  height: calc(100vh - 213px);
  position: absolute;
  top: 213px;
  left: 0;
  display: flex;
  /* margin-top: 60px; */
  transition: 0.6s;
}

@media (min-width: 1031px){
  .sidebar {
  height: calc(100vh - 188px);
  top: 186px;
  }
}

@media (max-width: 340px) {
  .sidebar {
    width: 335px;
  }
  .sidebar-is-hidden .sidebar-icon i {
    margin-right: 10px!important;
  }
}

.sidebar-is-hidden {
transform: translateX(-297px);
}

.sidebar-icon i {
  /* font-size: 45px; */
  font-size: 38px;
  color: #e56969;
  outline: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-bottom: 59vh;
  margin-right: -11px;
}

.sidebar-description {
padding: 0px 30px;
transform: translate(10%, -10%);
}

.sidebar-description h2 {
  font-size: 170%;
}

.maps-container {
  position: 'relative';
  width: '100%'; 
  height: calc(100vh - 187px);
}

@media only screen and (max-width: 1030px) and (max-height: 1400px) {
  .maps-container {
  height: calc(100vh - 213px);
  }
  .row {
    margin-bottom: 25px;
    margin-top: 2px;
  }
}

.loading-container h1 {
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  padding: 240px 0px;
  font-size: 1.7rem;
  z-index: 450;
  font-family: Arvo, sans-serif;
  text-shadow: 1px 1px 30px #6d6c6c;
}
