/* Small and big version of pinned images on the world map */

.rectangle-marker {
  width: 110px;
  height: 90px;
  border-radius: 15px;
  object-fit: cover;
}

@media (max-width: 450px){
  .rectangle-marker{
    width: 85px;
    height: 74px;
  }
  .enlarged-image{
    width: 300px;
    height: 234px;
  }
}

@media (max-width: 360px) {
  .enlarged-image{
    width: 260px;
    height: 205px;
  }
}

.MapView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size: 150%;
}

.click {
  font-size: 33px;
  width: 38px;
	height: 38px;
  margin-left: 16px; 
  position: absolute;
  cursor: pointer;
  top: 7%;
}


.click span {
  margin-left: 12px;
  margin-top: 7px;
  z-index: 999;
  transition: all .32s ease;
  font-size: 33px;
  text-shadow: 1px 1px 40px #6d6c6c;
}

.click span:hover {
	opacity: 0.8;
}

.click span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.click .favorized {
  color: #F5CC27 !important;
}


/* Icons on each enlarged image */

/*
 * Counter button style
 */
.btn-counter { margin-right: 39px; }
.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }
.btn-counter:after {
  border-radius: 3px;
  border: 3px solid white;
  background-color: #eee;
  padding: 4px 12px 0px;
  color: #777;
  content: attr(data-count);
  left: 100%;
  margin-left: 25px;
  margin-right: -13px;
  position: absolute;  
  top: 9px;
  height: 28px;
  font-size: 12px;
}
.btn-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 3px solid white;
  border-right: 0;
  border-top: 0;
  content: '';
  position: absolute;
  right: -28px;
  top: 19px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}

.Icon {
  color: white;
  box-shadow: #6d6c6c;
}

@media (max-width: 450px) {
  .Icon.edit {
    width: 30px!important;
  }
  .Icon.delete {
    width: 28px!important;
  }
  .click {
    top: 5%;
    margin-left: 11px;
  }
  .click span {
    font-size: 27px;
  }
  .btn-counter:after {
    top: 11px;
    height: 23px;
    border: 2px solid white;
    padding: 2px 9px 0px;
    margin-left: 18px;
  }
  .btn-counter:before {
    right: -21px;
  }
}