.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #DF7373;
  padding: 50px;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button.btn.btn-secondary {
  background-color: #DF7373 !important;;
  
}

.formGroup {
  padding: 70px;
  margin: 70px;}
  
.ListView{
  position: relative;
  text-align: center;
}

.ListView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size:180%;
}

.MapView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size:180%;
}

.ListView img{
  display: inline-block
}

.Home-link {
  color: white;
  float: left;
}

.img-cam {
  width: 30px;
  position: centered;
  padding: 2px;
  margin: 10px;
}


.img-list {
  width: 30px;
  position: centered;
  padding: 2px;
  margin: 10px;
}


.img-logo{
  width: 150px;
  position: centered;
}

.imagePin{
size: 50%
}

.loginFormHeader {
  position: absolute;
  top: 35%;
}

.Logo {
  position: centered;
  size: 6px;
  text-align: center;
}

.mb-2 {
  position: relative;
}
.ListView img{
  display: inline-block
}

.Navbar {
  /* opacity: 0.5; */
  background-color: #e56969 !important;
  position: fixedTop;
}
.Navbar .NavButton {
  color: #ffffff !important;
}

.Navlink {
  color: #ffffff !important;

}

/* .Maepic-col {
  background-color: #DF7373;
} */


/* .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
	border-right: 1px solid #54879d;
} */


.AddPic.container {
  max-width: 700px;
}