.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #DF7373;
  padding: 50px;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .button.btn.btn-secondary {
  background-color: #DF7373 !important;
  border-color: #DF7373;
  /*     background-color: #e56969;
 */
/*} */

/* .button.btn.btn-secondary :hover {
  background-color: #c44747e5;
} */

.formGroup {
  padding: 70px;
  margin: 70px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jumbotronLogin {
  margin-bottom: 0px;
  background-image: url(../components/ny.jpeg);
  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotronLogin .nav-link{
  color: white;
  font-weight: 500
}

.jumbotronLogin .nav-link:hover{
  font-weight: 700
}

.jumbotronSignup .nav-link{
  color: white;
  font-weight: 500
}

.jumbotronSignup .nav-link:hover{
  font-weight: 700
}


.jumbotronEdit {
  margin-bottom: 0px;
  background-image: url(../components/ny.jpeg);
  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}



.nav-link {
  justify-content: center;
}

.jumbotronSignup {
  margin-bottom: 0px;
  background-image: url(../components/rome.jpeg);
  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.ListView{
  position: relative;
  text-align: center;
  margin: 10px;
}

.ListView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size:180%;
}

.MapView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size:180%;
}

.ListView img{
  display: inline-block;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.Home-link {
  color: white;
  float: left;
}

.Icon {
  color: white;
  box-shadow: #6d6c6c;
}

.img-cam {
  width: 31px;
  position: centered;
  padding: 3px;
  margin: 10px;
}


.img-list {
  width: 37px;
  position: centered;
  padding: 3px;
  margin: 10px;
}


.img-logo{
  width: 150px;
  position: centered;
}

.imagePin{
size: 50%
}

/* .Link {
  color: #ffffff !important;
} */

.LoginHeader {
  color: white;
  position: absolute;
  top: 2%;
  left: 22%;
  font-weight: 650;
}

.SignupHeader{
  color: white;
  position: absolute;
  top: 2%;
  left: 22%;
  font-weight: 650;
}

.EditHeader {
  color: white;
  position: absolute;
  top: 10%;
}


.googleMap {
  z-index: -100;
}

.LoginForm {
  margin:80px;
}

.SignupForm {
  margin:80px;
}

.EditForm {
  margin:80px;
}

.SearchFieldList{
  margin:30px;

}

/* .input-group {
  position: absolute;
    left: 250px;
    top: -65px;
    z-index: -1;
}


.switch-field{
  position: absolute;
    left: 20px;
    top: 50px;
    z-index: -1;
} */

.SignupDiv{
  background-image: url(../components/rome.jpeg);
}


.Logo {
  position: centered;
  size: 6px;
  text-align: center;
}

.mb-2 {
  position: relative;
  float: left;
}
.ListView img{
  display: inline-block
}

.Navbar {
  /* opacity: 0.5; */
  background-color: #e56969 !important;
  position: fixedTop;
  box-shadow: 0 3px 10px rgba(141, 37, 37, 0.692);
}
.Navbar .NavButton {
  color: #ffffff !important;
}

.Navlink {
  color: #ffffff !important;

}



/* .Maepic-col {
  background-color: #DF7373;
} */


/* .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
	border-right: 1px solid #54879d;
} */


.AddPic.container {
  max-width: 700px;
  border-radius: 10px;
  background: rgba(0,0,0,0.65);
  box-shadow: 0 3px 10px rgba(0,0,0,0.70);
  /* color: #7e8b97; */
  color: white;
  /* font-weight: 500; */
  font-weight: 400;
  padding: 40px 50px 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


 .AddPic.background {
  background-image: url(https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1033&q=80);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* padding: 80px 150px; */
 }

 .AddPic h1{
  font-size: 170%;
  margin-bottom: 3rem;
  color: white;
 }

 h1{
  font-size: 170%;
  margin-bottom: 3rem;
  color: white;
 }
 