.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #DF7373;
  padding: 50px;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button.btn.btn-secondary {
  background-color: #DF7373 !important;;
  
}

.formGroup {
  padding: 70px;
  margin: 70px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jumbotronLogin {
  margin-bottom: 0px;
  background-image: url(../components/ny.jpeg);
  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


.jumbotronEdit {
  margin-bottom: 0px;
  background-image: url(../components/ny.jpeg);
  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}



.nav-link {
  justify-content: center;
}

.jumbotronSignup {
  margin-bottom: 0px;
  background-image: url(../components/rome.jpeg);
  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.ListView{
  position: relative;
  text-align: center;
  margin: 10px;
}

.ListView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size:180%;
}

.MapView p{
  color: white;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 30px #6d6c6c;
  font-size:180%;
}

.ListView img{
  display: inline-block;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.Home-link {
  color: white;
  float: left;
}

.Icon {
  color: white;
  box-shadow: #6d6c6c;
}

.img-cam {
  width: 30px;
  position: centered;
  padding: 2px;
  margin: 10px;
}


.img-list {
  width: 30px;
  position: centered;
  padding: 2px;
  margin: 10px;
}


.img-logo{
  width: 150px;
  position: centered;
}

.imagePin{
size: 50%
}

/* .Link {
  color: #ffffff !important;
} */

.LoginHeader {
  color: white;
  position: absolute;
  top: 10%;
}

.SignupHeader{
  color: white;
  position: absolute;
  top: 10%;
}

.EditHeader {
  color: white;
  position: absolute;
  top: 10%;
}


.LoginForm {
  margin:130px;
}

.SignupForm {
  margin:130px;
}

.EditForm {
  margin:130px;
}


.SignupDiv{
  background-image: url(../components/rome.jpeg);
}


.Logo {
  position: centered;
  size: 6px;
  text-align: center;
}

.mb-2 {
  position: relative;
  float: left;
}
.ListView img{
  display: inline-block
}

.Navbar {
  /* opacity: 0.5; */
  background-color: #e56969 !important;
  position: fixedTop;
}
.Navbar .NavButton {
  color: #ffffff !important;
}

.Navlink {
  color: #ffffff !important;

}



/* .Maepic-col {
  background-color: #DF7373;
} */


/* .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
	border-right: 1px solid #54879d;
} */


.AddPic.container {
  max-width: 700px;
}